<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Head Tags -->
    <%- include('partials/head')%> 
    <style>
      .red-star {
        color: red;
      }
    </style>
  </head>
  <body>

    <!-- Navbar -->
    <%- include('partials/header')%> 
    
    <!-- Main Content Starts -->
    <main>
      <section id="form "class="my-4">
        <div
          class="container py-4 px-4"
          style="border: 1px solid rgba(0, 0, 0, 0.25); border-radius: 20px"
        >
          <h1 class="text-center">Edit Profile</h1>
          <hr />
          <form class="row g-3" action="/profile" method="post">
            <div class="col-md-6">
              <label for="fname" class="form-label" >First Name </label>
              <input type="text" class="form-control" id="fname" placeholder="<%=user.firstName%>" disabled>
            </div>
            <div class="col-md-6">
              <label for="lname" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="lname" placeholder="<%=user.lastName%>" disabled>
            </div>
            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="<%=user.lastName%>" disabled>
            </div>
            <div class="col-md-6">
              <label for="phnum" class="form-label"
                >Phone Number<sup class="red-star">*</sup></label
              >
              <input
                type="tel"
                class="form-control"
                id="phnum"
                required="true"
                name="phone"
              />
            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label"
                >Address <sup class="red-star">*</sup></label
              >
              <input
                type="text"
                class="form-control"
                id="inputAddress"
                placeholder="Enter your address"
                required="true"
                name="address"
              />
            </div>
            <div class="col-md-6">
              <label for="e1phnum" class="form-label"
                >Emergency Contact <sup class="red-star">*</sup></label
              >
              <input
                type="tel"
                class="form-control"
                required="true"
                id="e1phnum"
                name="emergency"
              />
            </div>
            <div class="col-md-6">
              <label for="e2phnum" class="form-label">Emergency Contact</label>
              <input type="tel" class="form-control" id="e2phnum"/>
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label"
                >City <sup class="red-star">*</sup></label
              >
              <input
                type="text"
                class="form-control"
                id="inputCity"
                required="true"
                name="city"
              />
            </div>
            <div class="col-md-4">
              <label for="inputState" class="form-label"
                >State <sup class="red-star">*</sup></label
              > 
              <input
                type="text"
                class="form-control"
                id="inputState"
                required="true"
                name="State"
              />
            </div>
            <div class="col-md-2">
              <label for="inputZip" class="form-label"
                >Zip <sup class="red-star">*</sup></label
              >
              <input
                type="text"
                class="form-control"
                id="inputZip"
                required="true"
                name="Zip"
              />
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">
                Apply Changes
              </button>
            </div>
          </form>
        </div>
      </section>
    </main>

    <!-- Main Content Ends -->

    <footer>
      <div class="container">
        <footer
          class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
        >
          <div class="col-md-4 d-flex align-items-center">
            <a
              href="/"
              class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
            >
              <svg class="bi" width="30" height="24">
                <use xlink:href="#bootstrap"></use>
              </svg>
            </a>
            <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
          </div>

          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <img
              src="icons/icons8-twitter-50.png"
              alt="twitter"
              width="24px"
              height="24px"
            />
          </ul>
        </footer>
      </div>
    </footer>

    <!-- Scripts -->
    <%- include('partials/script')%>

  </body>
</html>
